body{
    font-family: Inter;
    background-color: #B2C382;
  }

   header h1 {
    position: absolute;
    width: 231px;
    height: 36px;
    left: 662px;
    top: 78px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

   header p{
    position: absolute;
    width: 106px;
    height: 22px;
    left: 662px;
    top: 126px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  header img{
    position: absolute;
    width: 96px;
    height: 91px;
    left: 540px;    
    top: 80px;
    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  header hr{
    position: absolute;
    width: 614px;
    height: 3px;
    left: 413px;
    top: 179px;
    background: #000000;
  }

  .facts {
    position: absolute;
    width: 614px;
    height: 220px;
    left: 413px;
    top: 233px;
    background: #FFFFFF;
    border-radius: 3px;
  }

  .facts h1 {
    position: absolute;
    width: 136px;
    height: 22px;
    left: 245px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .facts ul{
    position: absolute;
    width: 520px;
    height: 102px;
    left: 10px;
    top: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .skills h1{
    position: absolute;
    width: 177px;
    height: 22px;
    left: 632px;
    top: 500px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .skills img#postman{
    position: absolute;
    width: 72px;
    height: 66px;
    left: 413px;
    top: 549px;
  }

  .skills img#idea{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 516px;
    top: 551px;     
  }

  .skills img#figma{
    position: absolute;
    width: 38px;
    height: 59px;
    left: 609px;
    top: 550px;
  }

  .skills img#confluence{
    position: absolute;
    width: 93px;
    height: 92px;
    left: 653px;
    top: 534px;
  }

  .skills img#slack{
    position: absolute;
    width: 60px;
    height: 59px;
    left: 752px;
    top: 551px;
  }

  .skills img#asana{
    position: absolute;
    width: 169px;
    height: 34px;
    left: 843px;
    top: 563px; 
  }

  .certificates{
    position: absolute;
    width: 614px;
    height: 309px;
    left: 411px;
    top: 673px;
    background: #FFFFFF;
    border-radius: 3px;
  }

  .certificates h1{
    position: absolute;
    width: 162px;
    height: 22px;
    left: 245px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  #html_css{
    position: absolute;
    width: 279px;
    height: 191px;
    left: 18px;
    top: 85px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
  }

  #future_cert{
    position: absolute;
    width: 279px;
    height: 191px;
    left: 318px;
    top: 85px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
  }

  .job{
    position: absolute;
    width: 614px;
    height: 429px;
    left: 413px;
    top: 1026px;
    background: #FFFFFF;
    border-radius: 3px;
  }

  .job h1{
    position: absolute;
    width: 164px;
    height: 22px;
    left: 235px;
    top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  table {
    position: absolute;
    width: 529px;
    height: 315px;
    left: 43px;
    top: 80px;
    background: #E5E5E5;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .job hr{
    position: absolute;
    width: 614px;
    height: 3px;
    top: 460px;
    background: #000000;
  }

  .contacts h1{
    position: absolute;
    width: 170px;
    height: 22px;
    left: 637px;
    top: 1519px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  #phone{
    position: absolute;
    width: 194px;
    height: 17px;
    top: 1572px;
    left: 447px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  #tg{
    position: absolute;
    width: 180px;
    height: 17px;
    left: 676px;
    top: 1572px;    
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  #github{
    position: absolute;
    width: 124px;
    height: 217px;
    left: 857px;
    top: 1572px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }